/* Importando fonte */
@font-face {
    font-family: caros;
    src: url(../assets/fonts/CarosSoftBold.otf);
}
@font-face {
    font-family: intro;
    src: url(../assets/fonts/IntroDemo-BlackCAPS.otf);
}

/* Variaveis */
:root{
    --backgroundHeader: #111111;
    --textColor: #ffffff;
    --redColor: #e13648;

}
/* Zerando os valores de margem padrao do navegador, e definindo o tamanho da caixa para "até a borda" */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'caros', sans-serif;
}

/* estilizando o header */
.body-until-footer {
    height: 100vh;
    max-width: 100vw;
    background-color: var(--textColor);

}
header {
    display: flex;
    height: 15%;
    width: 100%;
    background-color: var(--backgroundHeader);
    align-items: center;
    justify-content: space-between;
    box-shadow:0 10px 16px 0 rgba(0, 0, 0, 0.137),0 6px 20px 0 rgba(0,0,0,0.19)
}

nav{
    /* background-color: aliceblue; */
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

div.anchor-box {
    display: flex;
    gap: 2%;
}

div#LogoMarca {
    margin-left: 5%;
    width: 5%;
}

div#LogoMarca img {
    width: 100%;
}

/* Caixa dos links */
header div.links-cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* estilização e volta do efeito do link */
header div a {
    transition: transform .5s;
    text-decoration: none;
    font-size: 1.4vw;
    color: var(--textColor);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.178);

}
/* efeitos dos links */
header>nav>div a:hover{
    transition: transform .5s;
    transform: scale(1.2) ;
}
/* caixa dos botões */

/* Estilização dos botões */

.login-register-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1vh;
    /* background-color: antiquewhite; */
    width: 30%;
}
.register{
    font-size: 1.2vw;
    
}
.register:hover {
    transition: transform .5s;
    transform: scale(1.1) ;
}

 a.button-login {
    text-align: center;
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.2vw;
    padding: 5% 25% ;
    border-radius: 1vw;
    background-color: var(--redColor);
    transition: transform .5s;
}

/* animação dos botões */
 a.button-login:hover{
     transition: transform .5s;
     transform: scale(1.2) ;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--textColor);
    cursor: pointer;
    display: none;
}

/* Começando a estilizar a main */
.container {
    height: 100%;
    width: 100%;
}
section#presentacion {
    background-image: url(../assets/Fundo.png);
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

section#presentacion img.camiao{
    width: 100%;
    height: 100%;
    position: relative;
}

.text-presentacion {
    position: absolute;
    right: 0;
    margin: 4% 1.4% 0 0;
    text-align: end;
    font-size: 6.1vw;
    letter-spacing: .01vw;
    font-family: intro;
    color: var(--textColor);
    line-height: 80%;

}

.mova-sua-entrega {
    font-size: 90%;
    line-height: 100%;
    font-family: intro;
}

.text-presentacion span.pra-frente {
    font-size: 120%;
    font-family: intro;
}

.logo-camiao{
    width: 100%;
    position: absolute; 
    left: 0;
    top: 14%;
    margin-top: 6%;
}

.box-around-itens {
    background-color: var(--redColor);
    padding: 3%;
    display: flex;
    justify-content: space-around;
}

article {
    padding: 2%;
    background-color: var(--backgroundHeader);
    color: var(--textColor);
    max-height: 100%;
}
.track-the-pack{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2vw;
    line-height: 110%;
    width: 35%;
}
.track-the-pack p {
    width: 100%;
}

.text-and-image-sided{
    font-size: 4vw;
    width: 100%;
}
.text-and-image-sided img{
    width: 12%;
}

.track-the-pack input{
    background: url(../assets/seta-fundp-branco.png)  no-repeat right / 20% white ;
    padding-left: 2%;
    border: .3vw red solid ;
    width: 100%;
    height: 160%;
    color: var(--redColor);
    font-size: 60%;
    margin-top: 2%;
    /* border-radius: 2vw; */
}

.track-the-pack input::placeholder {
    color: var(--redColor);
}

.send-the-pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    line-height: 140%;
    padding: 2% 0;
    width: 20%;
    
}
p.envie-text {
    font-size: 4vw;
}
.send-the-pack a{
    text-align: center;
    width: 40%;
}

.send-the-pack img {
    margin-top: 4%;
    width: 100%;
    border-bottom: 1px solid var(--redColor);
    transition: transform .5s ease-in-out;
}

.send-the-pack img:hover {
    transform: scale(1.1);
}

.work-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    line-height: 140%;
    padding: 2% 0;
    width: 20%;
}

p.seja-text {
    font-size: 4vw;
}

.work-here a{
    width: 28%;
    text-align: center;
}

.work-here img {
    margin-top: 4%;
    width: 100%;
    border-bottom: 1px solid var(--redColor);
    transition: transform .5s ease-in-out;
}

.work-here a img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    div#LogoMarca {
        width: 15%;
        margin-left: 4%;
    }
    header div a {
        font-size: 2.5vw;
   
    }
    a.button-login {
        font-size: 2.5vw;
    }
    .login-register-box{
        gap: 1vh;
    }

    
}

/* Key frames */


.fade-in {
    -webkit-animation: fade-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: fade-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

